@font-face 
{
    font-family: 'Cvanderoso';
    src: url('https://rllom.github.io/andromeda/pincoyablack-webfont.eot');
    src: url('https://rllom.github.io/andromeda/main/pincoyablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://rllom.github.io/andromeda/pincoyablack-webfont.woff') format('woff'),
         url('https://rllom.github.io/andromeda/pincoyablack-webfont.ttf') format('truetype'),
         url('https://rllom.github.io/andromeda/pincoyablack-webfont.svg#PincoyablackBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
body 
{
	background: #222;
	color: #EEE;
	font-family: "Open Sans", arial;
	font-size: 16px;
	text-align: center;
}
header
{
	background: url("https://rllom.github.io/andromeda/logo.png") no-repeat 95% center,
	            url("https://rllom.github.io/andromeda/fondo.png");
	background-size: 300px , 50px 50px;
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	width: 100%;
}
header h1
{
	font-family: "Cvanderoso";
	font-size: 7.5em;
	margin: 0;
	text-shadow: rgba(0,0,0,0.8) 5px 5px 5px;
}
header h2
{
	margin: 0;
	font-weight: normal;
        font-size: 1.5em;
	text-shadow: rgba(0,0,0,0.7) 2px 2px 5px;
}
#historia
{
	background: rgba(0,0,0,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 7em 1em;
	padding: 1em;
	text-align: left;
	transition: all 0.5s ease;
	width: 33%;
}
#cochecito
{

	background: rgba(0,0,0,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 7em 1em;
	padding: 1em;
	text-align: left;
	transition: all 0.5s ease;
	width: 32%;
}
#cochecito, #historia
{
	display: inline-block;
	vertical-align: top;
}

/* iframe responsive 56.25*/
.iframe-container {
  overflow: hidden;
  padding-top: 97.2%;
  position: relative;
} 

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
/* fin iframe responsive */

A:link  {color:#ffcc00;text-decoration: none}
A { text-decoration:none;  background-color:Transparent; color:#0055FF; }
A:visited { color:#ffcc00;text-decoration: none}
a:hover {COLOR: #ffffff}
